@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#root {
  display: grid;
  grid-template-rows: 300px 1fr;
  height: 100%;
}

.map-wrapper {
  position: relative;
}

.list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.list-content {
  padding: 20px 30px;
  border: 2px solid #000;
  overflow-y: auto;
}

.list {
  list-style: none;
  padding: 0;
}
